/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* Root */
* {
    /* Zeroing Margin and Padding */
    margin: 0;
    padding: 0;
    /* Color */
    --light: #fcfcfc;
    --gray: #9c9c9c;
    --dark: #2c2c2c;
    --lightgray: #cccccc;
    --light-accent: #f0f0f0;
    /* Size */
    /* Absolute */
    --absolute-0: 0;
    --absolute-100: 100;
    /* REM */
    --rem-0: 0rem;
    --rem-0h1: 0.1rem;
    --rem-0h25: 0.25rem;
    --rem-0h5: 0.5rem;
    --rem-1: 1rem;
    --rem-1h25: 1.25rem;
    --rem-1h5: 1.5rem;
    --rem-1h75: 1.75rem;
    --rem-2: 2rem;
    --rem-5: 5rem;
    --rem-7: 7rem;
    --rem-10: 10rem;
    --rem-12h5: 12.5rem;
    --rem-15: 15rem;
    --rem-20: 20rem;
    /* VH */
    --vh-100: 100vh;
    /* Percent */
    --percent-100: 100%;
    --percent-container: 75%;
    /* Weight */
    --weight-300: 300;
    --weight-400: 400;
    --weight-700: 700;
    /* Negative */
    --negative: -1;
    /* Time */
    /* Second */
    --second-0h25: 0.25s;
}
*::selection {
    color: var(--light);
    background-color: var(--dark);
}
/* Body */
body {
    background-color: var(--light);
    font-family: 'Montserrat', sans-serif;
}
/* Navigation */
nav {
    display: flex;
    position: fixed;
    height: var(--rem-5);
    top: var(--absolute-0);
    left: var(--absolute-0);
    justify-content: center;
    right: var(--absolute-0);
    z-index: var(--absolute-100);
    background-color: var(--light);
    border-bottom: var(--rem-0h1) solid var(--lightgray);
}
/* Navigation Container */
nav .container {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    width: var(--percent-container);
}
/* Navigation Unordered List */
nav ul {
    display: inherit;
    list-style: none;
    gap: var(--rem-1);
}
/* Navigation List Anchor */
nav ul li a {
    color: var(--gray);
    text-decoration: none;
    transition: var(--second-0h25);
}
/* Navigation List Anchor Hover */
nav ul li a:hover {
    color: var(--dark);
}
/* Navigation Title */
nav ul li a.title {
    color: var(--dark);
    font-size: var(--rem-1h25);
    font-weight: var(--weight-700);
}
/* Navigation Button */
nav .button {
    color: var(--light);
    text-decoration: none;
    background-color: var(--dark);
    border-radius: var(--rem-0h25);
    padding: var(--rem-0h5) var(--rem-1);
}
/* Navigation Anchor Active */
nav ul li a.active {
    color: var(--dark);
}
/* Navigation Hamburger Menu */
nav .hamburger-menu {
    display: none;
}
/* Main */
main {
    display: flex;
    align-items: center;
    height: var(--vh-100);
    justify-content: center;
}
/* Main Container */
main .container {
    display: inherit;
    gap: var(--rem-1);
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: var(--percent-container);
}
/* Main Heading Span */
main h1 span {
    font-weight: var(--weight-300);
}
/* Main Paragraph */
main p {
    line-height: var(--rem-1h5);
}
/* Main Image Card */
main .card {
    display: inherit;
    gap: var(--rem-1);
}
/* Main Image */
main img {
    width: var(--rem-15);
    border-radius: var(--rem-0h25);
    border: var(--rem-0h1) solid var(--gray);
}
/* Main QRIS Image */
main img.qris {
    width: var(--rem-20);
}
/* Media Query */
/* Screen Size Max Width 1190px */
@media (max-width: 1190px) {
    /* Container Width */
    * {
        --percent-container: 90%;
    }
}
/* Screen Size Max Width 835px */
@media (max-width: 835px) {
    /* Navigation Menu */
    nav ul:nth-child(2) {
        display: inherit;
        gap: var(--rem-2);
        position: absolute;
        text-align: center;
        width: var(--rem-10);
        height: var(--vh-100);
        flex-direction: column;
        transition: var(--second-0h25);
        top: var(--percent-100);
        padding: var(--rem-2) var(--rem-0);
        background-color: var(--light-accent);
        right: calc(var(--percent-100) * var(--negative));
        border-top: var(--rem-0h1) solid var(--lightgray);
        border-left: var(--rem-0h1) solid var(--lightgray);
    }
    /* Navigation Button */
    nav .button {
        background: none;
        color: var(--gray);
        padding: var(--absolute-0);
    }
    /* Navigation Hamburger Menu */
    nav .hamburger-menu {
        display: flex;
        cursor: pointer;
        gap: var(--rem-0h25);
        flex-direction: column;
    }
    /* Navigation Hamburger Design */
    nav .hamburger-menu span {
        width: var(--rem-1h75);
        height: var(--rem-0h25);
        border-radius: var(--rem-1);
        background-color: var(--dark);
    }
    /* Navigation Hamburger Active */
    nav ul:nth-child(2).hamburger-active {
        right: 0;
    }
    /* Main Image */
    main img {
        width: var(--rem-10);
    }
}
/* Screen Size Max Width 425px */
@media (max-width: 425px) {
    /* Main Heading */
    main h1 {
        font-size: var(--rem-1h5);
    }
    /* Main Image */
    main img {
        width: var(--rem-7);
    }
    /* Main QRIS Image */
    main img.qris {
        width: var(--rem-12h5);
    }
}
/* Screen Size Min Width 835px */
@media (min-width: 835px) {
    /* Navigation Button Text Hover */
    nav a.button:hover {
        color: var(--light-accent);
    }
    /* Navigation Button Text Active */
    nav a.button.active {
        color: var(--light-accent);
    }
}
